<!--
New Products
-->
	<div class="well well-small">
        {% load static %}
	<h3>Yeni Ürünler </h3>
	<hr class="soften"/>
		<div class="row-fluid">
		<div id="newProductCar" class="carousel slide">
		  <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
		  </div>
		  </div>
		<div class="row-fluid">
		  <ul class="thumbnails">
              {% for rs in lastproducts %}
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{rs.image.url}}" alt="" style="height: 400px"></a>
				<div class="caption cntr">
					<p>{{ rs.title}}</p>
					<p><strong> ${{ rs.price }}</strong></p>
					<h4><a class="shopBtn" href="/addtocard/{{ rs.id }}" title="add to cart"> Sepete Ekle </a></h4>
					<div class="actionList">
						<a class="pull-left" href="#">İstek Listesine Ekle </a>
						<a class="pull-left" href="#"> Kıyaslamaya Ekle </a>
					</div>
					<br class="clr">
				</div>
			  </div>
			</li>
              {% endfor %}
		  </ul>
		</div>
	</div>
	<!--
	Featured Products
	-->
		<div class="well well-small">
		  <h3><a class="btn btn-mini pull-right" href="{% static 'products.html' %}" title="View more">Daha Fazla<span class="icon-plus"></span></a> Özel Ürünler  </h3>
		  <hr class="soften"/>
		  <div class="row-fluid">
		  <ul class="thumbnails">
              {% for rs in randomproducts %}
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<a  href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" style="height: 400px"></a>
				<div class="caption">
				  <h5>{{ rs.title}}</h5>
				  <h4>
					  <a class="defaultBtn" href="/product/{{ rs.id }}/{{ rs.slug }}" title="Click to view"><span class="icon-zoom-in"></span></a>
					  <a class="shopBtn" href="/addtocard/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-plus"></span></a>
					  <span class="pull-right">${{ rs.price }}</span>
				  </h4>
				</div>
			  </div>
			</li>
              {% endfor %}
		  </ul>
	</div>
	</div>
<!--
Clients
-->
<section class="our_client">
	<hr class="soften"/>
	<h4 class="title cntr"><span class="text">Manufactures</span></h4>
	<hr class="soften"/>
	<div class="row">
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/1.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/2.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/3.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/4.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/5.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'assets/img/6.png' %}"></a>
		</div>
	</div>
</section>
