<!--
	Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    {% load static %}
    <div class="topNav">
		<div class="container">
			<div class="alignR">
				<div class="pull-left socialNw">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-facebook"></span></a>
					<a href="#"><span class="icon-youtube"></span></a>
					<a href="#"><span class="icon-tumblr"></span></a>
				</div>
				<a class="active" href="/"> <span class="icon-home"></span> Anasayfa</a>
                {% if user.id is not None %}
                    <ul class="nav pull-right">
			            <li class="dropdown">
				            <a data-toggle="dropdown" class="dropdown-toggle" href="/"><span class="icon-user"></span> {{ user.first_name}} <b class="caret"></b></a>
				            <div class="dropdown-menu">
				                <div class="control-group">
                                <a href="/home"><span class="icon-home"></span> Anasayfa </a>
				                </div>
				                <div class="control-group">
					                <a href="/user"><span class="icon-user"></span> Profil </a>
				                </div>
                                <div class="control-group">
                                <a href="/order"><span class="icon-barcode"></span> Siparişlerim </a>
				                </div>
                                <div class="control-group">
					                <a href="/user/comments"><span class="icon-comment"></span> Yorumlarım </a>
				                </div>
                                <div class="control-group">
                                <a href="/order/orderproduct"><span class="icon-check"></span> Checkout </a>
				                </div>
				                <div class="control-group">
					                <a href="/logout"><span class="icon-off"></span> Logout </a>
				                </div>
				            </div>
			            </li>
			        </ul>
				<a href="/shopcart/"><span class="icon-shopping-cart"></span> {{ request.session.cart_items }} Ürün - <span class="badge badge-warning"> ${{ total }}</span></a>
                {% else %}
				<a href="/signup"><span class="icon-edit"></span> Kayıt Ol </a>
                    <a href="/login"><span class="icon-user"></span> Giriş Yap </a>
                {% endif %}
            <a href="/iletisim"><span class="icon-envelope"></span> İletişim</a>
			</div>
		</div>
	</div>
</div>

<!--
Lower Header Section
-->
<div class="container">
<div id="gototop"> </div>
<header id="header">
<div class="row">
	<div class="span4">
	<h1>
	<a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
        {% load static %}
		<img src="{% static 'assets/img/logo-bootstrap-shoping-cart.png' %}" alt="bootstrap sexy shop">
	</a>
	</h1>
	</div>
	<div class="span8 alignR">
	<p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>
	<a href="/shopcart/"><span class="btn btn-mini"href="/shopcart/">[ {{ request.session.cart_items }}  ]  <span class="icon-shopping-cart" href="/shopcart/"></span></span></a>
	<span class="btn btn-warning btn-mini">$</span>
	<span class="btn btn-mini">&pound;</span>
	<span class="btn btn-mini">&euro;</span>
	</div>
</div>
</header>
    <!--
Navigation Bar Section
-->
<div class="navbar">
    {% load static %}
	  <div class="navbar-inner">
		<div class="container">
		  <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <div class="nav-collapse">
			<ul class="nav">
			  <li class=""><a href="/">Anasayfa</a></li>
			  <li class=""><a href="/hakkimizda">Hakkımızda</a></li>
			  <li class=""><a href="/referanslar">Referanslar</a></li>
			  <li class=""><a href="/iletisim">İletişim</a></li>
			  <li class=""><a href="{% static 'four-col.html' %}">Four Column</a></li>
			  <li class=""><a href="{% static 'general.html' %}">General Content</a></li>
			</ul>
			<form action="/search/" class="navbar-search pull-left" method="post">
                {% csrf_token %}
			  <input type="text" name="query" placeholder="Enter your keyword" class="search-query span2">
			</form>
			<ul class="nav pull-right">
            {% if user.id is None %}
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Giriş Yap <b class="caret"></b></a>
				<div class="dropdown-menu">
				<form class="form-horizontal loginFrm" action="" method="post">
                    {% csrf_token %}
				  <div class="control-group">
					<input type="text" class="span2" id="inputEmail" name="username" placeholder="username">
				  </div>
				  <div class="control-group">
					<input type="password" class="span2" id="inputPassword" name="password" placeholder="Password">
				  </div>
				  <div class="control-group">
					<label class="checkbox">
					<input type="checkbox"> Beni Hatırla
					</label>
					<button type="submit" class="shopBtn btn-block">Giriş Yap</button>
				  </div>
				</form>
				</div>
			</li>
                {% endif %}
			</ul>
		  </div>
		</div>
	  </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
	</div>