{%  extends "homebase.html" %}

{% block title %}
    {{product.title}}
{% endblock %}

{% block keywords %}
{{ product.keywords}}
{% endblock %}
{% block description %}
{{ product.description }}
{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}



{% block content %}
	<hr class="soften">
	<div class="row">
    	<div class="row">
	<div class="span9">
        <ul class="breadcrumb">
		    <li><a href="/">Anasayfa</a> <span class="divider">/</span></li>
            <li><a href="/category/{{ product.category_id }}/{{ product.category.slug }}">{{product.category}}</a> <span class="divider">/</span></li>
		    <li class="active">{{product.title}} Detayları</li>
        </ul>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
	<div class="well well-small">
	<div class="row-fluid">
			<div class="span5">
			<div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="#"> <img src="{{ product.image.url }}" alt="" style="height:400px"></a>
                  </div>
                    {% for rs in images %}
                  <div class="item">
                     <a href="#"> <img src="{{ rs.image.url }}" alt="" style="height:400px"></a>
                  </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
			</div>
			<div class="span7">
				<h3>{{ product.title }} [${{ product.price }}]</h3>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm" action="/order/addtocart/{{ product.id }}" method="post">
                    {% csrf_token %}
				  <div class="control-group">
					<label class="control-label"><span>${{ product.price }}</span></label>
					<div class="controls">
					<input type="number" name="quantity" min="0" max="{{ product.amount }}" value="1" class="span6" placeholder="Qty.">
					</div>
				  </div>
				  <h4>Stokta {{ product.amount}} adet ürün kaldı.</h4>
                    <p>{{ product.description}}</p>
				  <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Sepete Ekle</button>
				</form>
			</div>
			</div>
				<hr class="softn clr"/>
            <ul id="productDetail" class="nav nav-tabs">
              <li class="activate"><a href="#home" data-toggle="tab">Ürün Detayları</a></li>
              <li class=""><a href="#profile" data-toggle="tab">Yorumlar </a></li>
              <li class=""><a href="#cat1" data-toggle="tab">Yorum Ekle</a></li>
            </ul>
            <div id="myTabContent" class="tab-content tabWrapper">
            <div class="tab-pane fade active in" id="home">
{#			  <h4>Product Information</h4>#}
{#                <table class="table table-striped">#}
{#				<tbody>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Color:</td><td class="techSpecTD2">Black</td></tr>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Style:</td><td class="techSpecTD2">Apparel,Sports</td></tr>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Season:</td><td class="techSpecTD2">spring/summer</td></tr>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Usage:</td><td class="techSpecTD2">fitness</td></tr>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Sport:</td><td class="techSpecTD2">122855031</td></tr>#}
{#				<tr class="techSpecRow"><td class="techSpecTD1">Brand:</td><td class="techSpecTD2">Shock Absorber</td></tr>#}
{#				</tbody>#}
{#				</table>#}
                {{product.detail | safe}}
			</div>
			<div class="tab-pane fade" id="profile">
                {% for rs in comments %}
			<hr class="soft">
			<div class="row-fluid">
			<div class="span2">
				<img src="assets/img/d.jpg" alt="">
			</div>
			<div class="span6">
                <h3><pre><i class="icon-user">   {{ rs.user.first_name }}</i>   <i class="icon-time"> {{ rs.create_at }}</i> </pre></h3>
                <hr class="well-small">
				<h4> {{ rs.subject }} </h4>
				<p>
                    {{ rs.comment}}
				</p>
			</div>
			<div class="span4 alignR">
			<form class="form-horizontal qtyFrm">
			<h2> Rate: {{ rs.rate }}</h2>
				</form>
			</div>
	</div>
                {% endfor %}
			</div>
              <div class="tab-pane fade" id="cat1">
                <div class="well">
	<form class="form-horizontal" action="/product/addcomment/{{ product.id }}" method="post" >
    {% csrf_token %}
		<h3>Yorum Ekle</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
		<div class="control-group">
			<label class="control-label">Konu <sup>*</sup></label>
			<div class="controls">
			  <input type="text" placeholder="subject" name="subject">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Yorum <sup>*</sup></label>
			<div class="controls">
			  <textarea class="input" name="comment"></textarea>
			</div>
		</div>
        <div class="control-group">
		<label class="control-label">Puan <sup>*</sup></label>
		<div class="controls">
		<select class="span1" name="rate">
			<option value="1" name="rate">1</option>
			<option value="2" name="rate">2</option>
			<option value="3" name="rate">3</option>
            <option value="4" name="rate">4</option>
            <option value="5" name="rate">5</option>
		</select>
		</div>
		</div>
        {% if user.id is not None %}
	<div class="control-group">
		<div class="controls">
		 <input type="submit" name="submitAccount" value="Yorumu Ekle" class="shopBtn exclusive">
        {% else %}
        Yorum Eklemek için Login olunuz.
        {% endif %}
		</div>
	</div>

	</form>
</div>
            </div>
</div>
</div>
</div>
    </div>

{% endblock %}