
<!--
Body Section
-->


<div class="row">
    {% load static %}
<div id="sidebar" class="span3">
<div class="well well-small">
	<ul class="nav nav-list">
        <!-- test -->
        <li>
            <ul class="nav pull">
                {% load mptt_tags %}
                    {% recursetree category %}
                        <li class="dropdown">
                            <a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %}data-toggle="dropdown" class="dropdown"{% endif %}>{% if not node.is_leaf_node %}<span class="icon-chevron-right"></span> {% endif %}{{ node.title }} <b class="caret"></b></a>
                            <div class="dropdown-menu">
                            <ul class="nav pull">
                            {% if not node.is_leaf_node %}
                                <li class="children">
                                  <a href="/category/{{ node.slug }}"> {{ children }}</a>
                                </li>
                            {% endif %}

                            </ul>
                            </div>
                        </li>
                    {% endrecursetree %}
            <!-- SIDEBARDAKI DONGUNUN NASIL OLACAGI
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span> Moda <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <ul class="nav pull">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span>Kazak2<b class="caret"></b> </a>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span>Pantolon<b class="caret"></b> </a>
                            </li>
                        </ul>
                    </div>
                </li>
-->
            </ul>
        </li>
        <!-- test -->
	</ul>
</div>

			  <div class="well well-small alert alert-warning cntr">
				  <h2>50% İndirim</h2>
				  <p>
					 Sadece online siparişler için geçerli. <br><br><a class="defaultBtn" href="#">Buraya Tıklayınız </a>
				  </p>
			  </div>

			  <div class="well well-small" ><a href="#"><img src="{% static 'assets/img/paypal.jpg' %}" alt="payment method paypal"></a></div>

			<a class="shopBtn btn-block" href="#">Gelecek Ürünler <br><small>Görmek İçin Tıklayınız</small></a>
			<br>
			<br>
			<ul class="nav nav-list promowrapper">
			<li>
                {% for rs in dayproducts %}
			  <div class="thumbnail">
				<a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="{{ rs.image.url }}" alt="bootstrap ecommerce templates" style="height: 400px">
				<div class="caption">
				  <h4><a class="defaultBtn" href="/product/{{ rs.id }}/{{ rs.slug }}">İncele</a> <span class="pull-right">${{ rs.price }}</span></h4>
				</div>
			  </div>
			</li>
                {% endfor %}
		  </ul>

	</div>