
<!--
Body Section
-->


<div class="row">
    {% load static %}
<div id="sidebar" class="span3">
<div class="well well-small">
	<ul class="nav nav-list">
        <!-- test -->
        <li>
            <ul class="nav pull">
                {% load mptt_tags %}
                    {% recursetree category %}
                        <li class="dropdown">
                            <a href="/category/{{ node.slug }}" {% if not node.is_leaf_node %}data-toggle="dropdown" class="dropdown"{% endif %}>{% if not node.is_leaf_node %}<span class="icon-chevron-right"></span> {% endif %}{{ node.title }} <b class="caret"></b></a>
                            <div class="dropdown-menu">
                            <ul class="nav pull">
                            {% if not node.is_leaf_node %}
                                <li class="children">
                                  <a href="/category/{{ node.slug }}"> {{ children }}</a>
                                </li>
                            {% endif %}

                            </ul>
                            </div>
                        </li>
                    {% endrecursetree %}
            <!-- SIDEBARDAKI DONGUNUN NASIL OLACAGI
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span> Moda <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <ul class="nav pull">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span>Kazak2<b class="caret"></b> </a>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown" href="#"><span class="icon-chevron-right"></span>Pantolon<b class="caret"></b> </a>
                            </li>
                        </ul>
                    </div>
                </li>
-->
            </ul>
        </li>
        <!-- test -->
	</ul>
</div>

			  <div class="well well-small alert alert-warning cntr">
				  <h2>50% Discount</h2>
				  <p>
					 only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
				  </p>
			  </div>

			  <div class="well well-small" ><a href="#"><img src="{% static 'assets/img/paypal.jpg' %}" alt="payment method paypal"></a></div>

			<a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
			<br>
			<br>
			<ul class="nav nav-list promowrapper">
			<li>
			  <div class="thumbnail">
				<a class="zoomTool" href="{% static 'product_details.html' %}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="{% static 'assets/img/bootstrap-ecommerce-templates.png' %}" alt="bootstrap ecommerce templates">
				<div class="caption">
				  <h4><a class="defaultBtn" href="{% static 'product_details.html' %}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li style="border:0"> &nbsp;</li>
			<li>
			  <div class="thumbnail">
				<a class="zoomTool" href="{% static 'product_details.html' %}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="{% static 'assets/img/shopping-cart-template.png' %}" alt="shopping cart template">
				<div class="caption">
				  <h4><a class="defaultBtn" href="{% static 'product_details.html' %}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li style="border:0"> &nbsp;</li>
			<li>
			  <div class="thumbnail">
				<a class="zoomTool" href="{% static 'product_details.html' %}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="{% static 'assets/img/bootstrap-template.png' %}" alt="bootstrap template">
				<div class="caption">
				  <h4><a class="defaultBtn" href="{% static 'product_details.html' %}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
		  </ul>

	</div>