<div class="span9">
	<div class="well np">
		<div id="myCarousel" class="carousel slide homCar">
            <div class="carousel-inner">
                {% for rs in sliderdata %}
			  <div class="item">
                  {%  load static %}
                <img style="width:100%" src="{{ rs.image.url }}" alt="bootstrap ecommerce templates">
                <div class="carousel-caption">
                      <h4>{{ rs.title }}</h4>
                      <p><span>{{ rs.price}}TL</span></p>
                    <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn-primary">Satın Al</a>
                </div>
              </div>
                {% endfor %}
			  <div class="item active">
                <img style="width:100%" src="{% static 'assets/img/toshiba-laptop.png' %}" alt="bootstrap ecommerce templates">
                <div class="carousel-caption">
                      <h4>Toshiba Laptop</h4>
                      <p><span>6000.0TL</span></p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>