{%  extends "homebase.html" %}

{% block title %}
    {{profile.user_name}}-Profil Güncelleme
{% endblock %}

{% block keywords %}
{{ setting.keywords}}
{% endblock %}
{% block description %}
{{ setting.description }}
{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}



{% block content %}
	<hr class="soften">
	<div>
        <ul class="breadcrumb">
		    <li><a href="/">Anasayfa</a> <span class="divider">/</span></li>
		    <li class="active">User Profil Güncelleme</li>
        </ul>
	</div>
	<hr class="soften">
	<div class="row">
		<div class="span4">
            {% include "user_panel.html" %}
		</div>
		<div class="span8">
            <h2>Şifre Güncelleme</h2>
            <div class="well well-small">
                <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="shopBtn btn-large" type="submit">Güncelle</button>
                    </form>

            </div>
		</div>
	</div>



{% endblock %}